<form class="form-horizontal" (submit) = "onLoginSubmit()">
  <fieldset>
    <legend>Log In</legend>
    <div class="form-group">
      <label for="inputEmail" class="col-lg-2 control-label">Username</label>
      <div class="col-lg-10">
        <input type="text" class="form-control" name="username" placeholder="username" [(ngModel)]="username">
      </div>
    </div>
    <div class="form-group">
      <label for="inputPassword" class="col-lg-2 control-label">Password</label>
      <div class="col-lg-10">
        <input type="password" class="form-control" name="password" placeholder="Password" [(ngModel)] = "password">
      </div>
    </div>
    <div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">
        <button type="submit" class="btn btn-primary">Submit</button><br/>
      </div>
    </div>
    <div class="form-group">
      <label for="inputNewUser" class="col-lg-2 control-label">New User?</label>
      <div class="col-lg-10">
        <button type="reset" class="btn btn-default">Register</button>
      </div>
    </div>
  </fieldset>
</form>